body {
    background-color: black;
    font-family: arial;
    color: white;
}

h1 {
    color: grey;
    font-family: verdana;
    text-align: center;
}

.maindiv {
    background-color: white;
    color: black;
    width: 300px;
    padding: 20px;
    border-radius: 25px;
    text-align: left;
}

.popup {
  position: fixed;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -30%);
  background-color: #fff;
  border: 2px solid #7600bc;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 0px 10px #aaa;
  z-index: 1000;
}

